{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<div class="mt-5">
    <h4>
        Hello! Here we create a web page - a program for solving systems of linear algebraic equations.<br />
        You can view our Gitlab repository <a href="https://gitlab.com/etimesoy/slae-solver" target="_blank">here</a>.
    </h4>
    <h4>
        Привет! Здесь мы создаем сайт - программу для решения систем линейных алгебраических уравнений.
        Вы можете посмотреть наш репозиторий на Gitlab <a href="https://gitlab.com/etimesoy/slae-solver" target="_blank">здесь</a>.
    </h4>
</div>
{% endblock %}
