{% extends 'main/base.html' %}

{% block title %}
Ввести матрицу
{% endblock %}

{% block content %}
    <div class="mb-2" style="font-size: 190%"><span>Введите расширенную матрицу:</span></div>
    <form method="post" class="main-form">
        {% csrf_token %}
        <div class="pl-0 pr-0 mb-2 col-2">
            <textarea name="matrix" class="form-control" placeholder="2 -2  1 -3&#13;&#10;1  3 -2  1&#13;&#10;3 -1 -1  2" style="resize: both" cols="30" rows="4"></textarea>
        </div>
        <input type="submit" class="btn btn-dark" name="Gauss" value="Решить методом Гаусса">
        <div class="mt-1">
            <input type="submit" class="btn btn-dark" name="Kramer" value="Решить методом Крамера">
        </div>
        <div class="mt-1">
            <input type="submit" class="btn btn-dark" name="Matrix_method" value="Решить методом обратной матрицы">
        </div>
        <div class="mt-1">
            <input type="submit" class="btn btn-dark" name="Gauss_Jordan" value="Решить методом Гаусса-Джордана">
        </div>
    </form>
    <div class="mt-3 border" style="max-width: min-content; border-radius: 10px">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-2 mt-2 ml-2 mr-2" style="width: 315px">
                <select name="lines_count" id="1" class="form-control" required>
                    <option value="" selected>Выберите количество строк в СЛАУ</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="mb-2 ml-2 mr-2">
                <select name="solution_method" id="2" class="form-control" required>
                    <option value="" selected>Выберите метод решения</option>
                    <option value="Gauss">Метод Гаусса</option>
                    <option value="Kramer">Метод Крамера</option>
                    <option value="Matrix_method">Матричный метод</option>
                    <option value="Gauss_Jordan">Метод Гаусса-Джордана</option>
                </select>
            </div>
            <div class="mb-2" style="margin: 0 auto; width: 303px">
                <input type="submit" class="btn btn-info" name="fill_with_random" value="Сгенерировать СЛАУ для тренировки">
            </div>
        </form>
    </div>
    {% if request.method == 'POST' %}
        <div class="mt-4" style="font-weight: revert; font-size: larger">
            <table class="table table-responsive table-borderless">
                <tr>
                    <th class="pl-0">Матрица:</th>
                    <th>
                        {% for line in matrix %}
                            <span>{{ line }}</span><br>
                        {% endfor %}
                    </th>
                </tr>
                <tr>
                    <th class="pl-0">Ответ:</th>
                    <th>{{ answer }}</th>
                </tr>
                <tr>
                    <th class="pl-0">Метод решения:</th>
                    <th>{{ solution_method }}</th>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}
