{% extends 'main/base.html' %}

{% block title %}
Мои матрицы
{% endblock %}

{% block content %}
    <div class="mb-3" style="font-size: 220%"><span>Мои матрицы</span></div>
    {% for el in matrix_list %}
        <div style="position: relative; display: flex; flex-direction: row; font-size: 130%" class="mt-2 px-2 py-1 table-bordered">
            <div style="margin-right: 30px">
                <span>Матрица:</span><br />
                {% for line in el.matrix_lines %}
                    <span>{{ line }}</span><br />
                {% endfor %}
            </div>
            <div style="margin-right: 30px">Ответ:<br>{{ el.answer }}</div>
            <div>Метод решения:<br>{{ el.solution_method }}</div>
            <div style="position: absolute; right: 0; top: 0">
                <a href="delete/{{el.id}}" title="Удалить эту матрицу из списка" class="btn badge-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;<b>Удалить</b></a>
            </div>
        </div>
    {% empty %}
        <h5>Вы еще не вводили матрицы. Чтобы сделать это, перейдите на <a href="/">главную страницу</a>.</h5>
    {% endfor %}
{% endblock %}
